<!doctype html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="style.css" />
  <script type="application/javascript" src="angular.min.js"></script>
</head>
<body class="ana-wrapper">
  <div ng-app="ana" class="container-fluid">
    <div class="row">
      <div class="col-md-2 left-panel"></div>
      <div class="col-md-10 right-panel">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <form ng-controller="FormCtrl" class="analytical-method-form" name="analyticalmethodform">
              <div class="form-group">
                <span class="required-mark">*</span>
                <label class="control-label">Analytical Method ID</label>
                <input type="text" class="form-control" name="analyticalId" ng-model="form.analyticalId" restrict-field="form.analyticalId" required />
              </div>
              <div class="form-group">
                <span class="required-mark">*</span>
                <label class="control-label">Target Residue Type</label>
                <select class="form-control" ng-model="form.residueType" ng-required="true">
                  <option></option>
                  <option value="api">API</option>
                  <option value="cleaning_agent">Cleaning Agent</option>
                  <option value="bioburden">Bioburden</option>
                  <option value="endotoxin">Endotoxin</option>
                </select>
              </div>
              <div ng-if="form.residueType == 'api' || form.residueType == 'cleaning_agent'" ng-include src="'views/residue-type-1.html'"></div>
              <div ng-if="form.residueType === 'bioburden' || form.residueType === 'endotoxin'" ng-include src="'views/residue-type-2.html'"></div>
              <div class="form-group">
                <span class="required-mark">*</span>
                <label class="control-label">Reason</label>
                <input type="text" class="form-control" ng-model="form.reason" required />
              </div>
              <div class="action-panel">
                <button type="button" class="cancel-button btn btn-default" ng-click="resetForm()">Cancel</button>
                <button type="submit" class="pull-right update-button btn btn-primary" ng-click="submitForm(analyticalmethodform)">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="application/javascript" src="app.js"></script>
</body>
</html>
